.btn-bold {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.header {
    height: 80px;
}

.footer {
    height: 80px;
}

.content {
    min-height: calc(100vh - 160px);
}

.no-header {
    height: calc(100vh - 80px);
}