<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Oopsie!</title>
</head>
<body layout:fragment="content">
<main class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="p-5 text-center bg-body-tertiary rounded-3 d-flex flex-column justify-content-between gap-5">
        <h1 class="text-body-emphasis">An Error occurred</h1>

        <p class="col-md-8 mx-auto fs-5 text-muted">
            Something went wrong. Please return to the Home Page.
        </p>

        <a th:href="@{/}" class="btn btn-primary btn-lg px-4" type="button">
            Take me Home
        </a>
    </div>
</main>
</body>
</html>