<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<head>
    <title>Home</title>
    <style>
        .bg-image {
            background: #444 url(https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg) no-repeat center;
            background-size: cover;
            filter: blur(2px);
        }
    </style>
</head>
<body layout:fragment="main">

<div class="flex-grow d-flex align-items-center position-relative content">
    <div class="w-100 h-100 bg-image position-absolute" style="z-index: -1"></div>

    <div class="text-center text-light col-md-8 offset-md-2">
        <div class="lc-block mb-4">
            <div>
                <h1 class="display-1 fw-bolder">Any Bold Claim</h1>
            </div>
        </div>

        <div class="lc-block">
            <div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
                <p class="lead">Sim in vestibulum metus pulvinar sit amet.</p>
            </div>
        </div>

        <div class="lc-block">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-light" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
            </svg>
        </div>
    </div>
</div>

</body>
</html>
